<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6">
      <form #userForm="ngForm" (ngSubmit)="postUser(userForm)">
        <input type="hidden" class="form-control mt-2" name="_id" #_id="ngModel"
        [(ngModel)]="userService.selectedUser._id"  placeholder="_id">
        <input type="text" class="form-control mt-2"
        [(ngModel)]="userService.selectedUser.full_name" name="full_name" #full_name="ngModel" placeholder="Name">

        <input type="email" class="form-control mt-2"  #email="ngModel" name="email"
        [(ngModel)]="userService.selectedUser.email"   placeholder="email">
      
        <input type="text" class="form-control mt-2" name="password"
        [(ngModel)]="userService.selectedUser.password"  #password="ngModel" placeholder="password">
        <button type="submit" class="btn btn-block btn-primary mt-2">Save</button>

      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of userService.users">
            <td>{{user.full_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td><button (ngClick)="editUser(user)" class="btn btn-sm btn-primary">Edit</button></td>
            <td><button (ngClick)="deleteUser(user._id)" class="btn btn-sm btn-primary">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>